<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaflet MIO Service</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <style>
        #map { height: calc(100vh - 20px); }
    </style>
</head>
<body>

    <div id="map"></div>

    <script>

        // Inicializar el mapa
        var map = L.map('map').setView([3.350000, -76.52000], 14); // A17D

        // Añadir capa de mapa base
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; OpenStreetMap contributors'
        }).addTo(map);

        // Definir un icono personalizado
        var customIcon = L.icon({
            iconUrl: 'https://servicios.siur.com.co/buscarutas/img/busa.svg', // URL del icono
            iconSize: [32, 32], // Tamaño del icono
            iconAnchor: [16, 32], // Punto de anclaje
            popupAnchor: [0, -32] // Posición del popup
        });

        var customStopIcon = L.icon({
            iconUrl: 'https://servicios.siur.com.co/buscarutas/img/paa.svg',
            iconSize: [32, 32],
            iconAnchor: [16, 32],
            popupAnchor: [0, -32]
        });

        function fetchRoute() {
            fetch('/api/get_route_lines')
                .then(response => response.json())
                .then(data => {

                    // Dibujar la ruta con una línea azul
                    var polyline = L.polyline(data["A17D"], {color: 'green', weight: 2, dashArray: '3, 5'}).addTo(map);

                    // Ajustar el mapa a la ruta
                    map.fitBounds(polyline.getBounds());

                })
                
                .catch(error => console.error('Error al obtener los datos:', error))
        }

        fetchRoute();

        function fetchRouteStops() {
            fetch('/api/get_route_stops')
                .then(response => response.json())
                .then(data => {

                    // Agregar marcadores en cada parada
                    Object.values(data["A17D"]).forEach(stop => {
                        L.marker([parseFloat(stop.DECIMALLATITUDE), parseFloat(stop.DECIMALLONGITUDE)], { icon: customStopIcon }).addTo(map);
                    });

                })
                
                .catch(error => console.error('Error al obtener los datos:', error))
        }

        fetchRouteStops();

        let busMarkers = [];
        let arrowLines = [];

        // Obtener los Buses activos
        function fetchData() {
            fetch('/api/get_buses')
                .then(response => response.json())
                .then(data => {

                    console.log('Datos obtenidos:', data);

                    // Eliminar los marcadores y líneas anteriores
                    busMarkers.forEach(marker => map.removeLayer(marker));
                    arrowLines.forEach(line => map.removeLayer(line));

                    // Limpiar los arrays
                    busMarkers = [];
                    arrowLines = [];

                    Object.values(data).forEach(element  => {
                        // Obtener la última posición del array POSICIONES
                        const posiciones = element.POSICIONES;
                        if (posiciones && posiciones.length > 0) {
                            const ultimaPosicion = posiciones[posiciones.length - 1]; // Último elemento del array
                            const coords = { lat: ultimaPosicion[0], lng: ultimaPosicion[1] }; // Formato de coordenadas

                            const busMarker = L.marker(coords, { icon: customIcon })
                                .addTo(map)
                                .bindPopup(`<b>${element.TASKID}</b>`);

                            busMarkers.push(busMarker); 

                            var angle = element.DIRECTION; // Ángulo de dirección del bus en grados
                            console.log(angle);

                            // Función para calcular la posición de la flecha detrás del bus
                            function calculateArrowPosition(position, angle, distance) {
                                var rad = angle * (Math.PI / 180); // Convertir ángulo a radianes
                                var latOffset = Math.cos(rad) * distance;
                                var lngOffset = Math.sin(rad) * distance;
                                return [position[0] - latOffset, position[1] - lngOffset]; // Posición detrás del bus
                            }

                            // Calcular la posición de la flecha detrás del bus
                            var arrowPosition = calculateArrowPosition([ultimaPosicion[0], ultimaPosicion[1]], angle, 0.0003); // 0.002 ≈ 200m

                            // Dibujar la flecha detrás del bus
                            var arrowLine = L.polyline([arrowPosition, [ultimaPosicion[0], ultimaPosicion[1]]], { color: 'green', weight: 2 });

                            arrowLine.addTo(map);
                            arrowLines.push(arrowLine); // Guardar en el array para eliminarlo después
                        }

                    });
                })
                .catch(error => console.error('Error al obtener los datos:', error));
        }

        // Llamar la función inmediatamente y luego cada 40 segundos
        fetchData();
        setInterval(fetchData, 5000);

    </script>

</body>
</html>